a {
  outline: none;
  text-decoration: none;
  color: #a1a1af;
}
a:hover {
  color: #ffc822;
}
body::-webkit-scrollbar {
  background-color: black;
  width: 1em;
}
.default-form {
  color: #a1a1af;
  font-size: 24px;
}
.shopcart {
  color: #a1a1af;
}
.footer {
  padding: 80px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #f63a53;
  outline: 5px solid slategrey;
}

.layout-title {
  font-family: "Lilita One", cursive;
  text-shadow: 6px 2px 11px rgba(5, 2, 12, 0.52);
}
/* //menustyles */
.menu-div {
  height: 80px;
  font-weight: 400;
  font-size: 25px;
  background-color: #1f1b28;
}
body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif;
}
.btn-outline-warning:hover {
  color: #212529;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(228, 90, 16, 1) 0%,
    rgba(238, 156, 0, 1) 0%,
    rgba(218, 60, 17, 1) 100%
  );
}
.btn-warning:hover {
  color: #212529;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(228, 90, 16, 1) 0%,
    rgba(238, 156, 0, 1) 0%,
    rgba(218, 60, 17, 1) 100%
  );
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #40c263;
  border-color: #40c263;
}
.input-group-text {
  border: none;
  border-radius: 10px;
}
.form-control {
  background-color: #17141d;
  border: none;
}
.form-control:focus {
  background-color: #17141d;
}
.dropdown-div {
  background-color: #201c29;
  color: #c2c2c2;
}
.dropdown-div:focus {
  color: white;
}
.btn {
  border-radius: 10px !important;
  font-weight: 800;
}
.btn-outline-primary {
  color: #40c263;
  border-color: #40c263;
}
.nav-link {
  border: none !important;
}
.nav-item {
  display: contents;
}

/* shop page */
.shop-page {
  color: white;
}
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/* card component */
.card-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(228, 90, 16, 1) 0%,
    rgba(238, 156, 0, 1) 0%,
    rgba(218, 60, 17, 1) 100%
  );
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.card-header:first-child {
  border-radius: 18px 18px 0px 0px;
}
.price-div {
  display: flex;
}
.card {
  color: #c2c2c2;
  border: 0px none;
  border-radius: 18px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
}
.product-image {
  width: 90%;
  height: -webkit-fill-available;
}

/* logo */
.logo-img {
  height: 50px;
  width: 117px;
}
.logo-bg {
  background-color: black;
}
/* serch bar */

.search-body {
  background-color: #f63a53;
}
/* home component */
.home-titles {
  color: white;
  background-color: #201c29;
  box-shadow: -1rem 0 3rem #000;
  border-radius: 10px;
  padding: 20px;
}
.navbar-collapse {
  background-color: #1f1b28;
}
.navbar-toggler {
  background-size: cover;
  background-image: url("https://img.icons8.com/cotton/64/000000/menu.png");
}
/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  font-weight: 800;
  padding: 5px;
  font-size: 13px;
  background: #ed9402;
  color: black;
}
.price {
  background-color: #ec9402;
  color: black;
  padding: 3px;
  border-radius: 5px;
}
/**
  * single product page - product name
  */

.name {
  background: indigo;
  color: #fff;
  font-weight: bold;
}

/**
  * product image on card
  */

.category-filter-card {
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  border-radius: 20px;
  color: #c2c2c2;
  padding: 55px;
}
.product-img {
  min-height: 250px;
  text-align: center;
}

.jumbotron h2 {
  margin-top: -20px;
}
.list-group-item {
  background-color: #201c29 !important;
  color: #a1a1af;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
}

/**
  * jumbotron animation
  */

.jumbotron {
  height: 200px;
  text-align: center;
  color: #543129;
  background-image: url("https://gobear.com/ph/sites/philippines/files/banner/desktop/cc-banner-shopping_0.png");
  background-size: cover;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.jumbo-description {
  font-size: 30px;
}
